@import url('https://fonts.googleapis.com/css2?family=Madimi+One&family=Roboto:wght@400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body{
    background-color: black !important;
}
.navbar{
    background-color: transparent !important;
    color: white !important;
}
.navbar-brand{
    color: white !important;
}
.nav-link{
    color: white !important;
}
.card-img-top{
    height: 14rem;
}